﻿<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your Favorite Site For Number to Word Conversion</h1>
            <hr>
            <p>Enter any number below and it will instantly convert it into its word equivalent upon hitting the submit button! If the number is a decimal, it will be rounded to the nearest cent.</p>
            <input type="number" step=".01"  class="form-control" id="inputNumber"/>
            <input value="SUBMIT" type="button" onclick="convert(document.getElementById('inputNumber').value)" class="btn btn-primary btn-xl page-scroll"></a>
        </div>
    </div>
</header>
<section id="contact">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Ready to move forward with the next steps? That's great! Give me a call or send an email and I will get back to you as soon as possible!</p>
    </div>
    <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>(570)772-4102</p>
    </div>
    <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:rweitze@g.clemson.edu">rweitze@g.clemson.edu</a></p>
    </div>
</section>
